.DS_Store

data/raw/

data/processed/*
!data/processed/traits_data_pc_gmm_8components_proba_min30_cap30_with_oscine.csv
!data/processed/traits_data_pc_gmm_8components_proba_min30_uncapped_with_oscine.csv

data/phylogeny/*
!data/phylogeny/consensus_tree_min30.tre

scripts/
